
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    padding: 36px 0;
    background-color: #00D160;

}

.main__info {
    padding: 24px;
    border-radius: 10px;
    max-width: 550px; 
    text-align: center;
}

.main_title {
    color: #000;
    margin-top: 20px;
    font-size: 60px;   
    font-weight: 700;
    line-height: 84px;
}

.main_description {
    color: #000;
}

.main_button {
    background-color: #2F71E5;
    width: 222px;
    height: 60px;
    margin-top: 36px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main_button:hover {
    background-color: #0255E5;

}

@media screen and (max-width: 800px) {

    .main_title {
        font-size: 55px;
    }
    
    .main_button {
        width: 400px;
        height: 100px;
        font-size: 22px;
        margin-top: 56px;
    }
}

@media screen and (max-width: 430px) {

    .main__info {
        width: 300px;
    }

    .main_title {
        font-size: 40px;
        line-height: 74px;
    }

    .main_description {
        line-height: 24px;

    }

    .main_button {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}