.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px auto auto auto;
    position: relative;
    max-height: 100px;
}

.header__logo {
    width: 140px;
    height: 140px;
    margin-left: 36px;
}

.header_slogan {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    align-items: center;
}