.footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    margin-bottom: 0;
}

.footer__info {
    text-align: center;
}

.footer__copyright {
    color: white;
    text-align: center;
}

.footer__icons {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 10px; 

}

.github_icon, .linkedin_icon, .email_icon {
    width: 50px;
    height: 50px; 
}


@media screen and (max-width: 480px) and (max-height: 720px) {
     
    .footer__copyright {
        font-size: 12px;
    }

    .footer__icons {
        gap: 4px;
        margin-top: 6px; 
    }

    .github_icon, .linkedin_icon, .email_icon {
        width: 30px;
        height: 30px; 
    }
    
}



  

  
